In [1]:
import pandas as pd
import joblib
from utils.preprocess import preprocess
import pandas as pd
from utils.preprocess import preprocess
import joblib
import os
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
import argparse
import numpy as np # Added numpy import
from datetime import datetime
import reverse_geocoder as rg
import numpy as np
from feature_engine.creation import CyclicalFeatures
import subprocess

def predict():

    
    
    model = joblib.load('models/model.pkl') 
    

    payers = pd.read_feather('data/payers-v1.feather')
    terminals = pd.read_feather('data/seller_terminals-v1.feather')
    transactions = pd.read_feather('data/transactions_train-v1.feather')[-3:]

    processed_df = preprocess(
            new_payers=payers,
            new_terminals=terminals,
            new_transactions=transactions
        )
    
    predictions = model.predict(processed_df)
    probas = model.predict_proba(processed_df)

    return {
        "model_name": 'model',
        "predictions": predictions.tolist(),
        "probabilities": probas.tolist()
    }, 200


predict()

Starting preprocessing for subset: 'test'
Reading data from
Concatenating dataframes...
Converting date columns...
Adding features...
Loading formatted geocoded file...
Removing duplicates...
Number of duplicates: 0
Cleaning df
Preprocessing for subset 'test' done.

({'model_name': 'model',
  'predictions': [0, 0, 0],
  'probabilities': [[0.9999998807907104, 1.253136900913887e-07],
   [0.9999996423721313, 3.3234803709092375e-07],
   [0.9999998211860657, 1.943048317798457e-07]]},
 200)

In [2]:
c = pd.read_feather('data/payers-v1.feather')[-3:]
c

           card_hash  card_bin card_first_transaction
9997  30064013748967    502003             2018-06-30
9998   4459688910961    546566             2018-06-30
9999     60453669339    180088             2018-06-30

In [3]:
b = pd.read_feather('data/seller_terminals-v1.feather')[-3:]
b

,terminal_id,latitude,longitude,terminal_operation_start,terminal_soft_descriptor
1997,1997,-15.809924,-47.823103,2018-05-22,Bright Laundry 63
1998,1998,-23.554299,-46.607065,2018-05-23,Green Living Home 130
1999,1999,-23.613439,-46.581638,2018-05-26,Ifood McDonald's 63

In [4]:
a = pd.read_feather('data/transactions_train-v1.feather')[-3:]
a

,transaction_id,tx_datetime,tx_date,tx_time,tx_amount,card_id,terminal_id,is_transactional_fraud,is_fraud,tx_fraud_report_date
4483953,4483954,2018-05-31 23:59:18,2018-05-31,23:59:18,59.549999,4472226472833343268,937,0,False,NaT
4483954,4483955,2018-05-31 23:59:24,2018-05-31,23:59:24,53.150002,4627244522757,575,0,False,NaT
4483955,4483956,2018-05-31 23:59:38,2018-05-31,23:59:38,92.629997,4646866764691420,206,0,False,NaT